@import "theme-colors";
@import "@material/theme/mixins";
@import "@material/floating-label/mixins";
@import "@material/textfield/variables";

.mdce-image-field {
  display: inline-flex;
  position: relative;
  align-items: flex-end;
  box-sizing: border-box;
  margin-top: 32px;
  margin-bottom: 8px;
  will-change: opacity, transform, color;

  &__proxy:focus {
    @include mdc-theme-prop(outline-color, primary);
  }

  &__label {
    @include mdc-floating-label-ink-color($mdc-text-field-label);

    position: absolute;
    top: 3px;
    left: 0;
    transform-origin: left top;
    transition: transform 180ms cubic-bezier(.4, 0, .2, 1), color 180ms cubic-bezier(.4, 0, .2, 1);
    cursor: text;

    &--float-above {
      transform: translateY(-100%) scale(.75);
      cursor: auto;
    }
  }

  .mdce-image-field--focused:not(.mdce-image-field--disabled) &__label {
    @include mdc-floating-label-ink-color(primary);
  }
}
