html {
  height: 100%;
}

.res-body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.res-content {
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  height: 100%;
}

.res-main {
  padding-right: 16px;
  padding-left: 16px;
}
