@import "theme-colors";
@import "@material/list/mixins";

html {
  height: 100%;
}

.mdc-toolbar__title {
  margin-top: 0;
  margin-bottom: 0;
}

.res-body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.res-content {
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  height: 100%;
}

.res-main {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
}

.res-list {
  border: 1px solid rgba(0, 0, 0, .1);

  &-item__link {
    color: inherit;
  }

  &-group__subheader {
    display: flex;

    &-button {
      margin-right: 0;
      margin-left: auto;
    }
  }
}

.mdc-list-item__meta.material-icons {
  text-decoration: none;
}

.res-company-info-link--selected {
  @include mdc-theme-prop(color, primary-light);
}

.mdc-dialog__body--scrollable {
  max-height: calc(100vh - 195px);
  overflow-y: auto;
}

.res-add-fab {
  position: fixed;
  right: 24px;
  bottom: 24px;
}

.mdc-text-field__input {
  &[maxlength="255"] {
    width: 592px;
  }

  &[maxlength="31"] {
    width: 453px;
  }
}

.mdc-select {
  min-width: 120px;
  margin-top: 12px;
  margin-bottom: 12px;
}

// Responding to issues #719 in Material Components for the Web
// https://github.com/material-components/material-components-web/issues/719
.mdc-dialog .mdc-select {
  /* stylelint-disable declaration-no-important */
  position: relative !important;

  &__menu {
    top: inherit !important;
    left: inherit !important;
    max-height: calc(100vh - 64px) !important;
    margin-top: 44px;
  }
  /* stylelint-enable */
}
