@import "variables";
@import "@material/list/variables";
@import "@material/theme/mixins";
@import "@material/typography/mixins";
@import "@material/typography/variables";
@import "@material/layout-grid/variables";
@import "@material/layout-grid/mixins";
@import "@material/button/mixins";
@import "@material/textfield/variables";
@import "@material/select/mixins";
@import "@material/top-app-bar/variables";
@import "trello";
@import "icons";

$res-content-margin: 8px;

html {
  height: 100%;
}

.res-body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.res-title__link {
  color: inherit;
  text-decoration: inherit;
}

.res-content {
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - #{$content-title-height});
}

.res-main {
  width: 100%;
}

.res-content-title {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px;
}

.res-none {
  display: none;
}

.res-content-area {
  width: 100%;
}

.res-content-list {
  margin: 0 $res-content-margin;
  border: 1px solid rgba(0, 0, 0, .1);

  .mdc-list-group__subheader {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  .mdc-list-item {
    height: 36px;
    cursor: pointer;

    .mdc-list-item__graphic {
      width: 36px;
      height: 36px;
      border-radius: unset;
    }
  }

  .mdc-list {
    padding-bottom: 6px;
  }
}

.res-list {
  border: 1px solid rgba(0, 0, 0, .1);

  &-item__link {
    color: inherit;
  }

  &-item__anchor {
    display: inherit;
    width: 100%;
    color: inherit;
    text-decoration: none;
  }

  &-group__subheader {
    display: flex;

    &-button {
      margin-right: 0;
      margin-left: auto;
    }
  }

  &-group__subfooter {
    $mdc-list-subheader-virtual-height: 3rem;
    $mdc-list-subheader-leading: map-get(map-get($mdc-typography-styles, body2), line-height);
    $mdc-list-subheader-margin:
      ($mdc-list-subheader-virtual-height - $mdc-list-subheader-leading) / 2;

    @include mdc-typography(body2);
    @include mdc-theme-prop(color, text-secondary-on-background);

    margin: $mdc-list-subheader-margin $mdc-list-side-padding;
  }

  &--content .mdc-list-item {
    height: unset;
    padding-top: $res-content-margin;
    padding-bottom: $res-content-margin;
  }
}

.mdc-list--avatar-list .mdc-list-item__graphic.material-icons {
  font-size: 34px;
}

// Navication in contents
.res-nav {
  width: 240px;

  &__nav {
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 232px;
    height: calc(100% - $res-content-margin);
    margin-left: $res-content-margin;
    border: 1px solid #e4e4e4;
    overflow: hidden;
    touch-action: none;
  }

  .res-nav__title {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
    padding: 0 16px;
  }

  .mdc-list-item .mdc-list-item__graphic {
    margin-right: 16px;
  }
}

// Cards
.res-card {
  position: absolute;
  width: 540px;
  transition: top 150ms cubic-bezier(.4, 0, .2, 1), left 150ms cubic-bezier(.4, 0, .2, 1);

  &__media {
    background-color: #888;
    color: white;

    &::before {
      margin-top: 25%;
    }

    &__icon-button-area {
      padding: $res-content-margin;
      text-align: right;
    }

    &__title {
      position: absolute;
      bottom: 28px;
      padding-left: 72px;
    }

    &__caption {
      display: block;
    }
  }

  &__fab {
    position: absolute;
    bottom: -20px;
    left: $res-content-margin;
    z-index: 2;
  }

  &__main {
    padding-top: 18px;
  }
}

// Icon button
.res-icon-button {
  display: inline-flex;
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  fill: currentColor;
  color: white;
  color: var(--mdc-theme-text-primary-on-secondary, white);
  font-size: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  overflow: hidden;

  &::before,
  &::after {
    position: absolute;
    top: calc(50% - 100%);
    left: calc(50% - 100%);
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    content: "";
  }

  &::before {
    transition: opacity 15ms linear;
    z-index: 1;
  }

  &:hover::before {
    opacity: .12;
  }

  &::after {
    transition: opacity 150ms linear;
  }

  &:active::after {
    opacity: .24;
  }
}

//////////////////////////////////////////
.mdc-list-item__meta.material-icons {
  text-decoration: none;
}

.res-company-info-link--selected {
  @include mdc-theme-prop(color, primary);
}

.res-company-list {
  max-height: calc(100vh - #{$mdc-top-app-bar-row-height} - 66px - 56px - #{$res-content-margin});
  overflow-y: auto;
}

.res-cards-list {
  max-height: calc(100vh - #{$mdc-top-app-bar-row-height} - 66px - #{$res-content-margin});
  overflow-y: auto;
}

@media (max-width: $mdc-top-app-bar-mobile-breakpoint) {
  .res-company-list {
    max-height: calc(100vh - #{$mdc-top-app-bar-mobile-row-height} - 66px - 56px - #{$res-content-margin});
  }

  .res-cards-list {
    max-height: calc(100vh - #{$mdc-top-app-bar-mobile-row-height} - 66px - #{$res-content-margin});
  }
}

.mdc-dialog__body--scrollable {
  max-height: calc(100vh - 195px);
  overflow-y: auto;
}

// FAB
.res-add-fab {
  position: fixed;
  right: 24px;
  bottom: 24px;
}

// Froms
.res-field {
  line-height: 4;
}

.res-form-container {
  @each $size in map-keys($mdc-layout-grid-columns) {
    @include mdc-layout-grid-media-query_($size) {
      $margin: map-get($mdc-layout-grid-default-margin, $size);

      padding: 0 $margin $res-content-margin;
      padding: 0 var(--mdc-layout-grid-margin-#{$size}, #{$margin}) $res-content-margin;
    }
  }
}

.mdc-text-field,
.mdc-select,
.mdce-image-field {
  vertical-align: top;
}

.mdc-text-field__input {
  max-width: 592px;

  &[maxlength="127"] {
    width: 420px;
  }

  &[maxlength="63"] {
    width: 390px;
  }

  &[maxlength="31"] {
    width: 360px;
  }

  &[maxlength="8"] {
    width: 114px;
  }
}

.mdc-select {
  min-width: 120px;

  &__native-control:required + .mdc-floating-label::after {
    margin-left: 1px;
    content: "*";
  }

  &__native-control:required:focus + .mdc-floating-label::after {
    color: $mdc-text-field-error;
  }

  &--invalid {
    @include mdc-select-label-color($mdc-text-field-error);
    @include mdc-select-bottom-line-color($mdc-text-field-error);
    @include mdc-select-focused-label-color($mdc-text-field-error);
    @include mdc-select-focused-bottom-line-color($mdc-text-field-error);
  }
}

.field-left {
  padding-right: $res-content-margin;
  padding-bottom: $res-content-margin;
  float: left;
}

.res-button--raised--secondary {
  @include mdc-button-filled-accessible($mdc-theme-secondary);
}

.mdc-fab {
  text-decoration: none;
}

.res-error-explanation {
  padding: 16px;
  border: 1px solid #e4e4e4;
  background-color: #fafafa;

  &__result {
    margin: 0;
    color: $mdc-text-field-error;
  }

  &__message-list {
    margin: 4px 0;
    color: $mdc-text-field-error;
  }

  &__message-item {
    padding: 4px 0;
    color: $mdc-text-field-error;
  }
}
